* {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex: 1 1 0px;
}

h1 {
  font-size: 1.5rem;
  width: 50%;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

a {
  text-decoration: none;
  color: black;
}
